.row-items {  
  .container-items {
    padding: 0px;
    background: #ffff;
    display: flex;
    border-radius: 5px;
    .img-product {
      border-radius: 5px;
      margin: 16px;
      width: 180px;
      height: 180px;
    }
    .item-description {
      font-size: 18px;
      width: 50%;
      &-price {
        margin-top: 32px;
        margin-bottom: 32px;
        display: block;
        p {
          font-size: 24px;
          margin-bottom: 0px;
          display: inline-block;
        }
      }
      &-icon-shipping {
        display: inline-block;
        margin-left: 10px;
        width: 18px;
        height: 18px;
        outline: none;
        background: transparent url("./../../../public/assets/ic_shipping.png")
          no-repeat center;
      }
      &-city {
        align-self: center;
        margin: 0 auto;
        font-size: 12px;
        color: #9999;
      }
      cursor: pointer;
    }
  }
}
