.search-bar{
  background-color: #ffe600;
  padding: 10px;
  margin: 0 0 30px;
  .icon-meli {
    margin-right: 1rem;
    cursor: pointer;
  }
  input[name="search"] {
    // width: 88%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    border: none;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }

  input[name="search"]::placeholder {
    color: #bbb;
  }

  button[type="submit"] {
    padding-top: 5px;
    padding-bottom: 6px;
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: #eeee url("./../../../public/assets/ic_Search.png") no-repeat
      center;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    opacity: 1;
  }

  button[type="submit"]:focus,
  input[name="search"]:focus {
    outline: none;
  }
}
